<div class="todo-item" [class.completed] = "todo.completed">
    <button class="checkbox" (click)="onToggle()">
        <i class="material-icons" >{{ todo.completed ? 'check_box' : 'check_box_outline_blank'}}</i>
    </button>

    <span class="title">{{todo.title}}</span>

    <div class="actions">
        <button class="delete icon" (click)="onDelete()">
            <i class="material-icons">delete</i>
        </button>
    </div>
</div>