<form class="todo-form" (ngSubmit)="onSubmit(); todoForm.reset()" #todoForm="ngForm">
    <input type="text" name="title" [(ngModel)]="title" placeholder="What?" required>
    <button type="submit" [disabled]="todoForm.form.invalid">Add</button>
</form>